body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {

}
.topbar {
    background-color: #2c3e50;
    color: #ffffff;
}
.wrap {
    margin: auto;
    width: 1200px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}
.grid-item {
    
}
.btn {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}
.btn.btn-orange {
    background-color: orangered
}
.btn.btn-small {
    padding: 3px 7px 3px 7px;
    /* padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px; */
    font-size: 14px;
}
.brand-logo {
    padding: 10px 0px 10px 0px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
@media (min-width: 1250px) {
    .wrap {
        width: 1200px;
    }
}
@media (min-width: 500px) and (max-width: 1199px) {
    .wrap {
        width: 80%;
    }
}
@media (max-width: 500px) {
    .wrap {
        width: 90%;
    }
}