body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {

}
.topbar {
    background-color: #2c3e50;
    color: #ffffff;
}
.wrap {
    margin: auto;
    width: 1200px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}
.grid-item {
    
}
.btn {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}
.btn.btn-orange {
    background-color: #ff7518;
}
.btn.btn-small {
    padding: 3px 7px 3px 7px;
    font-size: 14px;
}
.btn.btn-large {
    padding: 20px 40px 20px 40px;
    font-size: 16px;
}
.brand-logo {
    padding: 10px 0px 10px 0px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
.topmenu {
    text-align: right;
}
.topmenu ul {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.topmenu ul li {
    display: inline-block;
    text-align: left;
}
.topmenu ul li a {
    display: block;
    padding: 12px 20px 12px 20px;
    color: #ffffff;
    text-decoration: none;
}
.topmenu ul li a:hover {
    background-color: black;
}
.topmenu ul ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.topmenu ul li:hover a {
    background-color: black;
}
.topmenu ul li:hover ul {
display: block;
}
.topmenu ul li:hover ul li a {
display: block;
    color: #333333;
    background-color: #ffffff;
}
.topmenu ul ul li {
    display: block;
}
.topmenu li:hover ul li a:hover {
    background-color: rgb(74, 144, 230);
    color: #ffffff;
}
.button-mobile-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: right;
    display: none;
}    
.button-mobile-menu a {
    color: #ffffff;
    text-decoration: none;
}
h1 {
    font-size: 50px;
    font-weight: normal;
}
.jumbotron {
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, #e2ebf0, #d0dae0);
}
.main-content {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-content {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
p {
    line-height: 1.5;
}
p.font-size-big {
    font-size: 18px;
}
a.link {
    color: #3a8be5;
    text-decoration: none;
}
a.link:hover {
    text-decoration: underline;
}
h1.title-medium-light {
    color: #333333;
    font-weight: normal;
    font-size: 40px;
}
hr {
    border-top: 1px solid #e6e6e6;
    border-bottom: none;
}
.quiz-content {
    margin-top: 20px;
}
.quiz-content ul.quiz-title {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.quiz-content ul.quiz-title li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    color: #999999;
}
.quiz-content ul.quiz-title li.active {
    background-color: #aaaaaa;
    color: #ffffff;
}
.quiz-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.quiz-options .quiz-selected {
    background-color: #f5f5f5;
    padding: 20px;
    border: 2px solid #e3e3e3;
    border-radius: 2px;
    color: #5b5b5b;
}
@media (min-width: 1250px) {
    .wrap {
        width: 1200px;
    }
    .topmenu ul {
        display: block;
    }    
    .button-mobile-menu {
        display: none;
    }        
}
@media (min-width: 767px) and (max-width: 1249px) {
    .wrap {
        width: 95%;
    }
    .topmenu ul {
        display: block;
    } 
    .button-mobile-menu {
        display: none;
    }   
}
@media (min-width: 500px) and (max-width: 766px) {
    .wrap {
        width: 85%;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .button-mobile-menu {
        display: none;
    }    
}
@media (max-width: 500px) {
    .wrap {
        width: 90%;
    }    
}
@media (max-width: 766px) {
    /* Responsive TopMenu */
    .button-mobile-menu {
        display: block;
    }
    .topmenu ul {
        display: none;
    }
}